<div class="info">
  <p>
    I am a Java developer with experience building multi-tiered applications. Created dynamic user interfaces with
    JavaScript, Angular, and Bootstrap. Implemented server-side technologies, such as Spring Web MVC, Spring ORM,
    Hibernate, Spring Data, and Oracle SQL database. In addition, I worked in a team environment, and utilized pair
    programming following Agile development methodology.
  </p>
</div>
<div class="bulletpoints">
  <p>
    <li>Extensive experience with HTML, CSS, Bootstrap, JavaScript, Angular, and Node.js. </li>
    <li>Leveraged Bootstrap framework for responsive web design, utilized JavaScript to enhance web functionality. </li>
    <li>Wrote Ajax actions to get and post JSON data from web services. </li>
    <li>Incorporated Angular Material and PrimeNg for enhanced client-side rendering in Angular applications. </li>
    <li> Performed unit tests with Karma and Jasmine and end-to-end tests with Protractor on Angular applications.</li>
    <li>Exposed and consumed SOAP and REST web services. </li>
    <li>Built Java-based web applications with the Spring framework. </li>
    <li>Wrote data layer code in Hibernate to create, read, update, and delete records within Oracle SQL database. </li>
    <li>Structured normalized Oracle database to manipulate and store data, embedded H2 database for testing purposes.
    </li>
    <li> Experience in handling Tomcat with Apache Web Server. </li>
    <li> Deployed applications through continuous integration pipelines using Jenkins and GitHub.</li>
    <li>Collaborated in team environments following Agile methodology and paired programming principles. </li>
  </p>
</div>

<div class="col-sm-6 text-center">
  <h2 class="text-center">DevOps</h2>
  <canvas baseChart [data]="pieChartData" [labels]="pieChartLabels" [chartType]="pieChartType" [options]="pieChartOptions"
    (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)"></canvas>
</div>

<div class="col-sm-6 text-center">
  <h2 class="text-center">JavaWeb</h2>
  <canvas baseChart [data]="pieChartData1" [labels]="pieChartLabels1" [chartType]="pieChartType1" [options]="pieChartOptions1"
    (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)"></canvas>
</div>

<div class="col-sm-6 text-center">
  <h2 class="text-center">Languages</h2>
  <canvas baseChart [data]="pieChartData2" [labels]="pieChartLabels2" [chartType]="pieChartType2" [options]="pieChartOptions2"
    (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)"></canvas>
</div>

<div class="col-sm-6 text-center">
  <h2 class="text-center">Web Technologies</h2>
  <canvas baseChart [data]="pieChartData3" [labels]="pieChartLabels3" [chartType]="pieChartType3" [options]="pieChartOptions3"
    (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)"></canvas>
</div>

<div class="col-sm-6 text-center">
  <h2 class="text-center">Database Technologies</h2>
  <canvas baseChart [data]="pieChartData4" [labels]="pieChartLabels4" [chartType]="pieChartType4" [options]="pieChartOptions4"
    (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)"></canvas>
</div>